.inputText {
    min-height: 1.5em;
    min-width: 1.5em;
    border-radius: 8px;
    padding-left: 1em;
    font-size: 1em;
    color: var(--contrast-neutral-color-9);
}

.inputText::placeholder {
    color: var(--contrast-neutral-color-6);
}