<style>
    .options {
        background-color: var(--contrast-neutral-color-0);
        z-index: 1;
        border-radius: 8px;
    }

    .options div {
        background-color: transparent;
        min-height: 1em;
        padding-top: 0.5em;
        padding-left: .5em;
        padding-right: .8em;
        color: var(--contrast-neutral-color-9);
        box-sizing: border-box;
    }

    .options div:hover {
        background-color: var(--contrast-neutral-color-1);
    }
</style>

<div style="position: relative; display: inline-block;">
    <input #input id="ui-select" uiInputText [type]="type" style="min-width: 2em;" (mousedown)="active =! active"
        [readonly]="true" [value]="value" [placeholder]="placeholder">

    <section class="options" *ngIf="active" [style]="'transform:' + transform">
        <div *ngFor="let option of options" (mousedown)="choseValue(option)"
            [style]="'width: ' + inputWidth + 'px; height: ' + inputHeight + 'px;'">
            {{ option }}
        </div>
    </section>
</div>