<div class="grid-container">
    <div class="item-1">
        <p>{{ typographies }}</p>
        <div class="typographies">
            <h2>REM / Sans Serif</h2>
            <small>https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap</small>
            <h1>Title H1</h1>
            <h2>Title H2</h2>
            <h3>Title H3</h3>
            <h4>Title H4</h4>
            <h5>Title H5</h5>
            <h6>Title H6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="item-2">
        <p>{{ colors }}</p>
        <div class="colors">
            <h4>{{ primary }}</h4>
            <div>
                <div *ngFor="let v of [0,0,0,0,0], index as i" [style]="`background-color: var(--primary-color-${i});`">
                </div>
            </div>
            <h4>{{ grayScale }}</h4>
            <div>
                <div *ngFor="let v of [0,0,0,0,0,0,0,0,0,0], index as i"
                    [style]="`background-color: var(--neutral-color-${i});`"></div>
            </div>
            <h4>{{ elements }}</h4>
            <div>
                <div *ngFor="let v of [0,0,0,0,0], index as i" [style]="`background-color: var(--element-color-${i});`">
                </div>
            </div>

            <br><br>
        </div>
    </div>
    <div class="item-4">
        <p>{{ cards }}</p>
        <cat-card variant="elevated" size="lg" customClass="cards">
            <cat-card variant="surface">Surface</cat-card>
            <cat-card variant="elevated">Elevated</cat-card>
            <cat-card variant="outlined">Outlined</cat-card>
        </cat-card>
    </div>
    <div class="item-5">
        <p>{{ buttons }}</p>
        <div>
            <section>
                <h2>{{ buttonsTitle }}</h2>

                <h3>{{ variants }}</h3>
                <div class="row">
                    <cat-button variant="primary">{{ primaryButton }}</cat-button>
                    <cat-button variant="secondary">{{ secondaryButton }}</cat-button>
                    <cat-button variant="contrast">{{ contrastButton }}</cat-button>
                    <cat-button variant="outline">{{ outlineButton }}</cat-button>
                    <cat-button variant="ghost">{{ ghostButton }}</cat-button>
                </div>

                <h3>{{ sizes }}</h3>
                <div class="row">
                    <cat-button size="sm">{{ small }}</cat-button>
                    <cat-button size="md">{{ medium }}</cat-button>
                    <cat-button size="lg">{{ large }}</cat-button>
                </div>

                <h3>{{ withIcons }}</h3>
                <div class="row">
                    <cat-button iconLeft="home">{{ home }}</cat-button>
                    <cat-button iconRight="home">{{ next }}</cat-button>
                    <cat-button iconLeft="home" iconRight="home">{{ both }}</cat-button>
                </div>

                <h3>{{ states }}</h3>
                <div class="row">
                    <cat-button>{{ normal }}</cat-button>
                    <cat-button [disabled]="true">{{ disabled }}</cat-button>
                </div>

                <h3>{{ clickEvents }}</h3>
                <div class="row">
                    <cat-button (clicked)="counterEvent()">{{ clickMe }}</cat-button>
                    <p>{{ clicks }}: {{ clickCount }}</p>
                </div>
            </section>
        </div>
    </div>
    <div class="item-6">
        <p>{{ inputs }}</p>
        <cat-card customClass="cards">
            <div class="input-inside-card">
                <input catInput [placeholder]="textInput" type="text">
            </div>
            <div class="input-inside-card">
                <input catInput [placeholder]="numberInput" type="number">
            </div>
            <div class="input-inside-card">
                <cat-select-input [(ngModel)]="value" (ngModelChange)="onValue($event)" [options]="options" [placeholder]="selectInput!" transform="translateY(0%) translateX(0%)"></cat-select-input>
            </div>
            <div class="input-inside-card">
                <cat-color-input [icon]="true"></cat-color-input>
                <p>{{ colorInputWithIcons }}</p>
            </div>
            <div class="input-inside-card">
                <cat-color-input></cat-color-input>
                <p>{{ colorInputWithoutIcons }}</p>
            </div>
        </cat-card>
    </div>
    <div class="item-7">
        <p>{{ overlays }}</p>
        <cat-card customClass="cards">
            <cat-button (clicked)="openDialog(0)">{{ surfacedDialog }}</cat-button>
            <cat-dialog *ngIf="surfacedDialogActive" (closs)="closeDialog($event, 0)">{{ dialog }}</cat-dialog>
            <cat-button (clicked)="openDialog(1)">{{ elevatedDialog }}</cat-button>
            <cat-dialog variant="elevated" *ngIf="elevatedDialogActive"
                (closs)="closeDialog($event, 1)">{{ dialog }}</cat-dialog>
            <cat-button (clicked)="openDialog(2)">{{ outlinedDialog }}</cat-button>
            <cat-dialog variant="outlined" *ngIf="outlinedDialogActive"
                (closs)="closeDialog($event, 2)">{{ dialog }}</cat-dialog>
        </cat-card>
    </div>
    <div class="item-8">
        <p>{{ panels }}</p>
        <cat-card width="100%">
            <cat-accordion [label]="scrolleable!" buttonVariant="primary" width="12em" [scrolleable]="true" [status]="accordionStatus">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu
                    fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.</p>
            </cat-accordion>
            <cat-accordion [label]="nonScrolleable!" buttonVariant="primary" width="12em" [scrolleable]="false" [status]="accordionStatus">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu
                    fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.</p>
            </cat-accordion>
        </cat-card>

        <p>{{ accordionGroup }}</p>
        <cat-card width="100%">
            <cat-accordion-group [singleExpand]="true">
                <cat-accordion [label]="surfaceSecondary!" accordionId="1" buttonVariant="secondary" variant="surface" width="12em" [scrolleable]="true"
                    [status]="accordionStatus">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est laborum.</p>
                </cat-accordion>
                <cat-accordion [label]="elevatedContrast!" accordionId="2" buttonVariant="contrast" variant="elevated" width="12em" [scrolleable]="true"
                    [status]="accordionStatus">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est laborum.</p>
                </cat-accordion>
                <cat-accordion [label]="outlinedOutlined!" accordionId="3" buttonVariant="outline" variant="outlined" width="12em" [scrolleable]="true"
                    [status]="accordionStatus">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est laborum.</p>
                </cat-accordion>
            </cat-accordion-group>
        </cat-card>
    </div>
</div>