:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.theme-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

.static-select {
  width: 5em;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .theme-buttons {
    width: 100%;
    justify-content: space-between;
  }
}