<section class="header" >
    <!-- Theme buttons -->
    <div class="appareanceFixed">
        <ui-button [styles]="staticButtonsStyles" 
            severity="contrast" [label]="downloadCV"></ui-button>
        <ui-button [styles]="staticButtonsStyles"
            severity="contrast" (onClick)="toggleTheme()" icon="ui-icon-sun"></ui-button>

        <ui-input-color [(ngModel)]="colorHex" (ngModelChange)="onColorChange($event)"></ui-input-color>
        <ui-select type="text" [options]="langOptions" [(ngModel)]="lang"
            [styles]="[{p: 'border-top-right-radius', v: '0'}, {p: 'border-top-left-radius', v: '0'}, {p: 'width', v: '3em'}, {p: 'height', v: '2.3em'}]"
            (selected)="toggleLanguage($event)" transform="translateX(0) translateY(10%)"></ui-select>
    </div>
</section>