.cat-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.navigate-buttons {
  pointer-events: all;
  display: flex;
  gap: 1em;
}

.theme-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

cat-select-input[data-select-input-class="static-select"] {
  ::ng-deep {
    input {
      max-width: 3em;
    }
  }
}