  .appareanceFixed {
    position: fixed;
    right: 20vw;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    z-index: 101;
    pointer-events: auto;
  }
  
  .header {
    pointer-events: none;
    user-select: none;
    height: 7em;
    width: 100%;
    box-sizing: border-box;
    /*box-shadow:
      inset 0 6em 3em -3em var(--element-color-2);*/
    padding-top: 1em;
    padding-left: 2em;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
  }