<section class="header">
    <div style="pointer-events: all; display: inline-flex; gap: 1em;">
        <cat-button (clicked)="toHome()">Home</cat-button>
        <cat-button (clicked)="toCatarinaPreview()">Catarina Preview</cat-button>
    </div>
    <!-- Theme buttons -->
    <div class="appareanceFixed">
        <cat-button customClass="static-button" variant="contrast">{{downloadCV}}</cat-button>
        <cat-button customClass="static-button" variant="contrast" (clicked)="toggleTheme()"
            [iconCenter]="activeTheme ? 'sun' : 'moon'"></cat-button>

        <cat-color-input [icon]="true" [(ngModel)]="colorHex" (ngModelChange)="onColorChange($event)"></cat-color-input>
        <!-- 
        Select Input Missed Properties
        [styles]="[{p: 'border-top-right-radius', v: '0'}, {p: 'border-top-left-radius', v: '0'}, {p: 'width', v: '3em'}, {p: 'height', v: '2.3em'}]"
        (selected)="toggleLanguage($event)" 
        -->
        <cat-select-input customClass="static-select" [(ngModel)]="lang" (ngModelChange)="toggleLanguage($event)" type="string" [options]="langOptions"
            transform="translateX(0) translateY(10%)"></cat-select-input>
    </div>
</section>