.generalBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 7em;
}

.multimedia-themes-controler {
    position: fixed;
    z-index: 10;
    bottom: 1em;
    left: 1em;

    width: auto;
    max-width: 33%;
    min-width: 23%;
    height: auto;
    min-height: 3em;

    background-color: var(--neutral-color-0);
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.multimedia-themes-controler>div {
    width: auto;
    height: 100%;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
    .multimedia-themes-controler {
        max-width: 100%;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}