@media screen and (max-width: 1024px) {
    .responsive-content {
        flex-direction: column;
        gap: 3em;
        padding: 5%;
        box-sizing: border-box;

        >*:nth-child(1) {
            order: 1;
        }

        >*:nth-child(2) {
            order: 2;
        }

        >*:nth-child(3) {
            order: 3;
        }
    }

    .responsive-content>* {
        width: 100%;
    }
}