.colors-container {
    width: 100%;
    max-width: 100dvw;
    margin-top: 12em;
    height: calc(100dvh - 12em);
    background-color: var(--neutral-color-1);

    display: flex;
    flex-wrap: wrap;
}

.color {
    height: 7em;
    width: 5em;
    border: 2px dashed var(--neutral-color-9);
}

.br {
    flex-basis: 100%;
    height: 0;
}