<app-header></app-header>
<app-body></app-body>



<!-- 
ICONS TEST

<ui-icon-chevron-arrow></ui-icon-chevron-arrow>
<ui-icon-plus></ui-icon-plus>
<ui-icon-document></ui-icon-document>
<ui-icon-cv></ui-icon-cv> 
-->


<!-- 
DRAGABLE AND DIALOG TEST

<ui-dialog *ngIf="visible" (closs)="clossOverlay()"
[styles]="[{p: 'justify-content', v: 'baseline'}]">
  <ui-button *ngFor="let i of [0,0,0,0,0,0,0,0]"></ui-button>
</ui-dialog>
<ui-button (onClick)="openOverlay()" uiDrag></ui-button> 
-->


<!-- PALETTE TEST

<section class="palette" *ngFor="let palette of allPalettes; let i = index; trackBy: trackByPalette">
  <div *ngFor="let color of palette; let i = index; trackBy: trackByColor" [style.background-color]="color"></div>
  <div *ngIf="(i +1) % 2 === 0" class="br"></div>
</section> -->


<!-- uiInputText DIRECTIVE AND PLACEHOLDER TEST 

<input uiInputText type="text" placeholder="Hola Guapos"> 
-->