<style>
    .curriculum {
        width: 70%;
        height: 100%;
        margin-left: 5%;
    }

    @media screen and (orientation: portrait),
    (max-width: 1024px) {
        .curriculum {
            width: 90%;
        }
    }

    @media screen and (orientation: portrait) and (max-width: 600px) {

        p,
        em {
            font-size: 1.2em;
        }
    }

    cat-accordion[data-card-class="curriculum-accordion"] {
        ::ng-deep button:hover {
                opacity: 90%;
            }
        ::ng-deep button:active {
                opacity: 70%;
            }
    }
</style>
<section class="curriculum">
    <cat-accordion-group>
        <cat-accordion customClass="curriculum-accordion" [label]="summaryButtonLabel!" [accordionId]="'1'"
            width="100%">
            <p>{{summary}}</p>
        </cat-accordion>
        <cat-accordion customClass="curriculum-accordion" [label]="educationButtonLabel!" [accordionId]="'2'" width="100%">
            <div *ngFor="let e of education">
                <p><b>{{e['studyTitle'] || 'Not Found'}}</b></p>
                <em>{{e['studyPlace'] || 'Not Found'}}</em><br>
            </div>
        </cat-accordion>
        <cat-accordion customClass="curriculum-accordion" [label]="experienceButtonLabel!" [accordionId]="'3'" width="100%">
            <div *ngFor="let e of experience">
                <p><b>{{e['jobTitle'] || 'NotFound'}} - {{e['companyName'] || 'NotFound'}}</b></p>
                <em>{{e['dateInterval'] || 'Not Defined'}}</em><br>
                <em>{{e['description'] || 'Not Defined'}}</em>
            </div>
        </cat-accordion>
    </cat-accordion-group>
</section>