<style>
    .curriculum {
        width: 70%;
        height: 100%;
        margin-left: 5%;
    }

    @media screen and (orientation: portrait),
    (max-width: 1024px) {
        .curriculum {
            width: 90%;
        }
    }
    @media screen and (orientation: portrait) and
    (max-width: 600px) {
        p, em {
            font-size: 1.2em;
        }
    }
</style>
<section class="curriculum">
    <ui-accordion-group>
        <ui-accordion [label]="summaryButtonLabel!" [accordionId]="'1'" [styles]="[{p: 'width', v: '100%'}]">
            <p>{{summary}}</p>
        </ui-accordion>
        <ui-accordion [label]="educationButtonLabel!" [accordionId]="'2'" [styles]="[{p: 'width', v: '100%'}]">
            <div *ngFor="let e of education">
                <p><b>{{e['studyTitle'] || 'Not Found'}}</b></p>
                <em>{{e['studyPlace'] || 'Not Found'}}</em><br>
            </div>
        </ui-accordion>
        <ui-accordion [label]="experienceButtonLabel!" [accordionId]="'3'" [styles]="[{p: 'width', v: '100%'}]">
            <div *ngFor="let e of experience">
                <p><b>{{e['jobTitle'] || 'NotFound'}} - {{e['companyName'] || 'NotFound'}}</b></p>
                <em>{{e['dateInterval'] || 'Not Defined'}}</em><br>
                <em>{{e['description'] || 'Not Defined'}}</em>
            </div>
        </ui-accordion>
    </ui-accordion-group>
</section>