<section class="contact-card">
    <div (click)="toGithub()">
        <!-- <ui-icon-github></ui-icon-github> -->
         <cat-icon size="2em" name="github"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>Hydenaky</b></p>
    </div>
    <div (click)="toLinkedin()">
        <!--<ui-icon-linkedin></ui-icon-linkedin> -->
         <cat-icon size="2em" name="linkedin"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>Juan Pablo Cañon N</b></p>
    </div>
    <div (click)="toGmail()">
        <!-- <ui-icon-email></ui-icon-email> -->
        <cat-icon size="2em" name="email"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>jpcnwkacc.irl@gmail.com</b></p>
    </div>
</section>