<section class="contact-card">
    <div title="https://github.com/juanpacani" (click)="toGithub()">
        <!-- <ui-icon-github></ui-icon-github> -->
         <cat-icon size="2em" name="github"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>juanpacani</b></p>
    </div>
    <div title="https://www.linkedin.com/in/juan-pablo-ca%C3%B1on-n-b304bb339/" (click)="toLinkedin()">
        <!--<ui-icon-linkedin></ui-icon-linkedin> -->
         <cat-icon size="2em" name="linkedin"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>Juan Pablo Cañon N</b></p>
    </div>
    <div title="https://mail.google.com/mail/?view=cm&fs=1&to=jpcnwkacc.irl@gmail.com" (click)="toGmail()">
        <!-- <ui-icon-email></ui-icon-email> -->
        <cat-icon size="2em" name="email"></cat-icon>
        <p *ngIf="deviceService.isDesktop || deviceService.isTablet"><b>jpcnwkacc.irl@gmail.com</b></p>
    </div>
</section>